* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Lakes", sans-serif;
}

body {
    background-color: #F8F8F8;
}

img {
    display: block;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
.container {
    padding: 0 16px;
}

.header {
    height: 88px;
    box-shadow: 0 1px #D9FFF5;
    background-color: #fff;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.header__logo, .header__menu {
    display: flex;
    align-items: center;
}
.header__menu button:nth-child(-n + 3){
    display: none;
}
.header__logo button:first-child, .header__menu button:nth-child(5) {
    margin-right: 16px;
}
.header__logo > .header__divider{
    display: none;
}
.header__divider {
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 1px;
}
.header__divider_none{
    display: none;
}

.main-header, .form, .section {
    margin-top: 24px;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.main-header__title{
    display: flex;
}
.main-header__highlight {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-header__text {
    margin-left: 12px;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.main-header__menu{
    display: none;
}
.main-header__support, .main-header__status{
    margin-right: 32px;
}
.main-header__support button, .main-header__status button{
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: 8px;
    font-weight: 600;
}
.main-header__support span, .main-header__status span{
    margin-right: 8px;
}

.form {
    display: flex;
    white-space: nowrap;
    margin-left: 16px;
    align-items: center;
    height: 40px;
    overflow: scroll;
}
.form::-webkit-scrollbar{
    display: none;
}
.radio{
    cursor: pointer;
}
.radio__text {
    color: #7E7E82;
    font-size: 16px;
    letter-spacing: -0.2px;
    border-radius: 6px;
    border: 2px solid transparent;
    padding: 7px 22px;
    transition: 0.5s;
}

.radio__input {
    position: absolute;
    appearance: none;
}

.radio__input:checked + .radio__text {
    background-color: #fff;
    border: 2px solid #B8FFEC;
}

.section{
    height: 322px;
}
.section__text{
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.section__text_screen_768{
    display: none;
}
.section__text_screen_1120{
    display: none;
}
.section__read-more{
    margin: 16px 0 0 32px;
    position: relative;
}
.section__read-more button{
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 600;
}
.section__read-more::before{
    content: '';
    background-image: url("../images/arrow.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    left: -31px;
    top: -2px;
    cursor: pointer;
}
.section__image{
    width: 320px;
    height: 176px;
    margin-top: 16px;
}

@media (min-width: 768px){
    .container {
        padding: 0 24px;
    }
    
    .header__divider_none{
        display: block;
    }
   .header__logo + .header__divider{
        display: none;
    }
    .header__logo > .header__divider{
        display: block;
    }
    .header__logo button:first-child, .header__divider{
        margin-right: 20px;
    }
    .header__menu button{
        display: block!important;
    }
    .header__menu button:not(:last-child){
        margin-right: 16px;
    }
    .header__menu button:nth-child(3){
        margin-right: 20px;
    }

    .header__text{
        margin-left: 20px;
    }
    .form{
        margin: 32px 0 0 24px;
    }
    .section{
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }
    .section__text{
        width: 312px;
    }
    .section__image{
        width: 360px;
        height: 208px;
        margin: 0 25px 0 24px;
    }
    .section__text_screen_768{
        display: block;
        margin-top: 32px;
    }
}

@media (min-width: 1120px) {
    .container {
        padding: 0 34px;
    }

    .header{
        display: none;
    }

    .main-header{
        margin-top: 42px;
    }
    .main-header__menu{
        display: flex;
    }
    .header__text{
        margin-left: 30px;
    }
    .form{
        margin: 8px 0 0 32px;
        height: 82px;
        flex-wrap: wrap;
    }
    .section{
        margin-top: 16px;
    }
    .section__image{
        width: 532px;
        height: 307px;
        margin: 0 34px 0 2px;
    }
    .section__text{
        width: 490px;
    }
    .section__text_screen_1120{
        display: inline;
    }
}