* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Lakes", sans-serif;
}

body {
    background-color: #F8F8F8;
    color: #1B1C21;
}

img {
    display: block;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
.container {
    padding: 0 16px;
}

.header {
    box-shadow: 0 1px #D9FFF5;
    background-color: #fff;
    padding: 0 16px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}
.header__button:hover{
    opacity: 50%;
    transition: 0.5s;
}
.header__logo, .header__menu {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__button_none{
    display: none;
}
.header__divider {
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 1px;
}
.header__divider_none{
    display: none;
}


.main{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.main-header__text {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 40px;
    position: relative;
}
.main-header__text::before{
    content: '';
    background-image: url("../images/icon-highlight.svg");
    width: 4px;
    height: 40px;
    position: absolute;
    left: -16px;
    top: -2px;
}
.main-header__menu{
    display: none;
}

.main-header__button{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    font-weight: 500;
    transition: 0.5s;
}
.main-header__button:hover{
    opacity: 50%;
}

.form {
    display: flex;
    white-space: nowrap;
    align-items: center;
    height: 40px;
    overflow: scroll;
}
.form::after{
    content: '';
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    position: absolute;
    right: 15px;
    top: 174px;
}
.form::-webkit-scrollbar{
    display: none;
}
.radio{
    cursor: pointer;
}
.radio:hover .radio__input:not(:checked) + .radio__text{
    opacity: 50%;
}
.radio__text {
    color: #7E7E82;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    border-radius: 6px;
    border: 2px solid transparent;
    padding: 7px 22px;
    transition: 0.5s;
}

.radio__input {
    position: absolute;
    appearance: none;
}

.radio__input:checked + .radio__text {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    cursor: default;
}

.section, .section__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section__text{
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    min-width: 288px;
    height: 90px;
    overflow: hidden;
}
.section__read-more{
    align-self: flex-start;
    cursor: pointer;
    display: flex;
    gap: 8px;
    transition: 0.5s;
}
.section__read-more:hover{
    opacity: 50%;
}
.section__button{
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    font-weight: 500;
}
.section__image{
    min-width: 320px;
    min-height: 176px;
    margin: 0 -16px;
}

@media (min-width: 321px){
    .header__divider{
        display: none;
    }
}
@media (min-width: 768px){
    .container {
        padding: 0 24px;
    }

    .header{
        padding: 0 24px;
    }
    .header__divider, .header__divider_none{
        display: block;
    }
    .header__button_none{
        display: block;
    }

    .main{
        gap: 32px;
    }
    .main-header__text::before{
        left: -24px;
    }

    .section{
        flex-direction: row;
        justify-content: space-between;
        gap: 48px;
    }
    .section__info{
        gap: 10px;
    }
    .section__text{
        min-width: 312px;
        height: 160px;
        line-height: 20px;
    }
    .section__image{
        min-width: 360px;
        height: 208px;
        margin: 0;
        border-radius: 6px;
    }

}

@media (min-width: 1120px) {
    .container {
        padding: 0 34px;
    }

    .header{
        display: none;
    }
    .main{
        gap: 18px;
    }
    .main-header{
        margin-top: 42px;
    }
    .main-header__menu{
        display: flex;
        gap: 32px;
    }
    .main-header__text::before{
        left: -34px;
    }
    .form{
        width: 1088px;
        height: 82px;
        flex-wrap: wrap;
    }
    .form::after{
        display: none;
    }
    .section{
        gap: 36px;
    }
    .section__image{
        min-width: 532px;
        height: 307px;
    }
    .section__text{
        min-width: 490px;
        height: auto;
    }
}